.response {
    padding: 5px;
    margin: 5px;
    width: 100%;
}

#prompt {
    height:300px;
}

img {
    padding: 20px;
}

footer{
    padding:15px;
    margin-top: 10px;
}

h1{
    margin-top:70px;
}

body{
    background-color: gray;
}

main{
    background-color: #dddddd;
    padding: 50px;
    margin-top: 90px;
}

#display1, #display2, #display3  { padding:50px;}

#hall {
    margin: 30px;
}